################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/formexemplo
/fundamentos
/Material UI
/React Native
/Test
